
<p>Signed in successfully.</p>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
      <p>name:<%= @book.user.name %></p>
      <p>introduction:<%= @book.user.introduction %></p>

      <h2>New book</h2>
      <%= form_with model: @book do |f| %>
        <p>title</p>
        <%= f.text_field :title %>
        <p>opinion</p>
        <%= f.text_area :body %>
        <%= f.submit 'Create Book' %>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <% @books.each do |book| %>
        <p><%= book.title %></p>
        <p><%= book.body %></p>
        <p><%= @book.user.name %></p>
      <% end %>
    </div>
  </div>
</div>