<% flash.each do |message_type, message| %>
  <div class="flash-message <%= message_type %>"><%= message %></div>
<% end %>

<%= render 'list', books: @books %>
<div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% Book.all.each do |book| %>
          <tr>
            <th scope="col">
              <%= link_to book.user do %>
                <%= image_tag book.user.get_profile_image(100,100) %>
              <% end %>
            </th>
            <th scope="col"><%= link_to book.title, book_path(book.id) %></th>
            <th scope="col"><%= book.body %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>