<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    
    <script src="https://kit.fontawesome.com/ab55497b72.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <nav class="row navbar navbar-expand-md bg-dark ">
          <h2 class="col-1"><%= link_to "Bookers", root_path,class: "link" %></h2>
            <div class="offset-8 col-3">
              <div class="row list-inline">
                
                <% if user_signed_in? %>
                <li class="list-inline-item p-2">
                  <%= link_to root_path do  %>
                    <i class="fa-solid fa-house"></i>Home <% end %>
                </li>
                <li class="list-inline-item p-2">
                  <%= link_to users_path do %>
                    <i class="fa-solid fa-users"></i>Users<% end %>
                </li>
                <li class="list-inline-item p-2">
                  <%= link_to  books_path do %>
                    <i class="fa-solid fa-book"></i>Books<% end %>
                </li>
                <li class="list-inline-item p-2">
                  <%= link_to  destroy_user_session_path, method: :delete do %>
                    <i class="fa-solid fa-right-from-bracket"></i>Log out<% end %>
                </li>
                <% else %>
                <li class="list-inline-item p-2">
                  <%= link_to root_path do %>
                    <i class="fa-solid fa-house"></i>Home <% end %>
                </li>
                <li class="list-inline-item p-2">
                  <%= link_to about_path do %>
                    <i class="fa-solid fa-link"></i>About<% end %>
                </li>
                <li class="list-inline-item p-2">
                  <%= link_to  new_user_registration_path do %>
                    <i class="fa-solid fa-user-plus"></i>Sign up<% end %>
                </li>
                <li class="list-inline-item p-2">
                  <%= link_to  new_user_session_path do %>
                    <i class="fa-solid fa-right-to-bracket"></i>Log in<% end %>
                </li>
                <% end %>
              </div>
            </div>
        </nav>
      </div>
    </header>
  
    <%= yield %>
  </body>
  <footer>
    <p class="text-center p-5">CopyRight Infratop.inc</p>
  </footer>
</html>
